// scss-docs-start import-stack
// Configuration

// Fonts
@import "./fonts";

@import "./bootstrap";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/tables";

// Helpers
@import "~bootstrap/scss/helpers";

//customize Class
$utilities: map-merge(
  $utilities,
  (
    "z": (
      property: z-index,
      class: z,
      values: (
        0: 0,
        1: 9,
        2: 99,
        3: 999,
        4: 9999,
      ),
    ),
    "object": (
      property: object-fit,
      class: ob,
      values: (
        "cover": cover,
        "contain": contain,
      ),
    ),
    "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      responsive: true,
      values: (
        1: 48px,
        2: 36px,
        3: 24px,
        4: 22px,
        5: 20px,
        6: 16px,
        7: 64px,
        8: 18px,
        9: 32px,
        10: 14px,
        11: 40px,
        12: 12px,
        13: 28px,
      ),
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        normal: $font-weight-normal,
        medium: 500,
        semibold: 600,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
      ),
    ),
    "letter-spacing": (
      property: letter-spacing,
      class: ls,
      values: (
        1: 10px,
        2: 5px,
        3: 3px,
        4: 1px,
        5: 8px,
      ),
    ),
    "font-family": (
      property: font-family,
      class: font,
      values: (
        opensans: "Open Sans",
        robotoslab: "Roboto Slab",
        inter: "Inter",
        robotreavers: "Robot Reavers",
        svgfutura: "SVN Futura",
      ),
    ),
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: 6px,
        5: 10px,
        circle: 50%,
        pill: $border-radius-pill,
      ),
    ),
    "line-height": (
      property: line-height,
      class: lh,
      values: (
        0: 0,
        1: 1,
        2: 28px,
        3: 27px,
        sm: $line-height-sm,
        base: $line-height-base,
        md: 1.8,
        lg: $line-height-lg,
      ),
    ),
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        3rem: 3rem,
        11rem: 11rem,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        120px: 120px,
        186px: 186px,
      ),
    ),
    "height": (
      property: height,
      class: h,
      responsive: true,
      values: (
        unset: unset,
        3rem: 3rem,
        20: 20%,
        30: 30%,
        50: 50%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        50px: 50px,
        105px: 105px,
        110px: 110px,
        120px: 120px,
      ),
    ),
    "cursor": (
      property: cursor,
      class: cursor,
      values: (
        pointer: pointer,
        none: none,
        nallowed: not-allowed,
        copy: copy,
      ),
    ),
    "white-space": (
      property: white-space,
      class: ws,
      responsive: true,
      values: nowrap break-spaces normal,
    ),
    "overflow": (
      property: overflow,
      class: overflow,
      responsive: true,
      values: auto hidden visible scroll unset,
    ),
    "position": (
      property: position,
      responsive: true,
      values: static relative absolute fixed sticky,
    ),
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
    "border-top":
      map-merge(
        map-get($utilities, "border-top"),
        (
          responsive: true,
        )
      ),
    "border-start":
      map-merge(
        map-get($utilities, "border-start"),
        (
          responsive: true,
        )
      ),
    "border-end":
      map-merge(
        map-get($utilities, "border-end"),
        (
          responsive: true,
        )
      ),
    "border-bottom":
      map-merge(
        map-get($utilities, "border-bottom"),
        (
          responsive: true,
        )
      ),
    "border-color":
      map-merge(
        map-get($utilities, "border-color"),
        (
          responsive: true,
        )
      ),
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          responsive: true,
        )
      ),
    "shadow":
      map-merge(
        map-get($utilities, "shadow"),
        (
          responsive: true,
        )
      ),
    "opacity": (
      property: opacity,
      responsive: true,
      values: (
        0: 0,
        25: 0.25,
        50: 0.5,
        60: 0.6,
        75: 0.75,
        100: 1,
      ),
    ),
    "padding-end": (
      responsive: true,
      property: padding-right,
      class: pe,
      values: $spacers,
    ),
    "padding": (
      responsive: true,
      property: padding,
      class: p,
      values: $spacers,
    ),
  )
);

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack
